body {
  background-color: #4CACBC;

}
img{
height: 150px}

hr {
  border-style: dotted none none;
  border-color: white;
  border-width: 5px;
  width: 10%;
}
h1 {
  color: #A10035;
}
h3{
  color: #A10035;
}
h3 {

}
h4{
  color: #A10035;
}

a:hover{
  color: white;
}
